@charset "UTF-8";

/*
      Paleta de cores
       Verde: #49a09d
       Lilás: #5f2c82
*/

* {
    font-family: 
        system-ui, 
        -apple-system, 
        BlinkMacSystemFont, 
        'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 
        'Helvetica Neue', 
        sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* A borda faz parte da conta de largura */
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

/*
    positon: relative -> Permite que os elementos filhos sejam posicionados em relação a este elemento.
    position: absolute -> Permite que o elemento seja posicionado em relação ao seu primeiro ancestral posicionado (que pode ser o body ou outro elemento com position: relative).
*/

main {
    position: relative; /* Para posicionar o conteúdo centralizado */
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute; /* Para posicionar o formulário de login em relação ao main */
    top: 50%; /* Para centralizar verticalmente */
    left: 50%; /* Para centralizar horizontalmente */
    transform: translate(-50%, -50%); /* O translate neste caso está sendo usado para ajustar a posição do elemento, 
    movendo-o para cima e para a esquerda em 50% de sua própria largura e altura, respectivamente. 
    Isso é necessário porque o posicionamento absoluto coloca o elemento com base no canto superior esquerdo,
    então sem o translate, o canto superior esquerdo do formulário estaria exatamente no centro da tela, 
    em vez de estar centralizado em relação ao seu próprio centro. */
    
    overflow: hidden; /* tudo o que tiver fora da borda, vai ficar escondido */
    background-color: white;
    width: 260px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/img-login.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%; /*100% da largura do container do login !== 100vw que é a largura total da viewport*/
    height: 40px;
    background: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background: #2d6462;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background: #fff;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao:hover {
    background: #6cd3cf;
}

form > a.botao > span {
    font-size: 0.8em;
}